@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 44px;
    font-size: 16px;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #000; 
}

.nav-links a:hover{
    text-decoration: underline;
}

.nav-logo-links{
    display: flex;
    gap: 44px;
    color: black;
    font-weight: 500;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img{
    position: relative;
}

.banner-details{
    position: absolute;
    top: 60%;
    right: 20%;
    transform: translateY(-63%);
    background-color: #f5ebe2; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-span{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.19em;
    color: #333;
}

.banner-header{
    font-weight: 700;
    font-size: 52px;
    line-height: 125%;
    color: #B88E2F;
}

.banner-para{
    width: 546px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #333;
}

.banner-btn{
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #B88E2F;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.browse-range{
    margin-top: 30px;
}

.browse-range-heading{
    font-weight: 700;
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

.browse-range-para{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

.browse-range-product{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.browse-range-product-name{
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.our-products{
    margin-top: 100px;
    margin-bottom: 100px;
}

.our-products-header{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #3a3a3a
}

.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 36px;
    margin-bottom: 50px;
}

.product-image-wrapper {
    position: relative;
    display: inline-block; /* Ensures wrapper fits the image */
  }

  .product-image-wrapper:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
  

.add-to-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 2; 
    text-align: center; 
  }

.add-to-cart-social{
    margin-top: 30px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.add-to-cart-social-button{
    display: flex;
    gap: 2px;
    align-items: center;
}


.product-image-wrapper:hover .add-to-cart { 
    opacity: 1;
}

.add-to-cart a {
    background: #FFFFFF;
    color: #B88E2F;
    border: none;
    padding: 10px 40px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap; 
  }

  .product-image:hover {
    filter: brightness(0.72);
  }

.discount-price {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.product-details{
    margin-top: 20px;
}

.product-name{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #3a3a3a;
}

.product-type{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}

.product-price{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3a3a3a;
}

.show-more{
    display: flex;
    justify-content: center;
}

.show-more-button{
    border: 1px solid #B88E2F;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #B88E2F;
}


.beautiful-rooms{
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


.beautiful-rooms-header{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #3a3a3a;
    margin-bottom: 5px;
}

.beautiful-rooms-para{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #616161;
    margin-bottom: 10px;
    width: 368px;
}

.explore-more-btn{
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    background-color: #B88E2F;
}

.share-setup-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-stup-para{
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #616161;
}

.hash-tag{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #3a3a3a;
    margin-bottom: 10px;
}

.footer{
    margin-top: 200px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
}

.footer-name-text-logo{
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.footer-name-text-address{
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
}

.footer-heading{
    font-weight: 500;
    font-size: 16px;
    color: #9f9f9f;
    margin-bottom: 50px;
}

.nav-links-footer{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 18px;
}

.nav-links-footer a{
    text-decoration: none;
    color: #000;
}

.footer-input{
    display: flex;
    gap: 16px;
}

.footer-newsletter input {
    border: none;
    border-bottom: 2px solid #000; 
    outline: none;
    padding: 10px; 
    width: 100%; 
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
    background: transparent; 
}

.footer-newsletter button{
    border: none;
    border-bottom: 2px solid #000; 
    outline: none;
    padding: 10px; 
    width: 100%; 
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.footer-copyright-text {
    margin-top: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: left; 
}

.hamburger{
    display: none;
}

.footer-copyright-text-mobile{
    display: none;
}

.share-setup-img-mobile{
    display: none;
}

.page-banner{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url('/images/background-image-all.png');
    background-size: cover;
    background-position: center;
    height: 316px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; 
    text-align: center;
    font-size: 24px;
}

.sorting{
    display: flex;
    justify-content: space-between;
}

.sorting-section-1, .sorting-section-2{
    display: flex;
    gap: 36px;
    align-items: center;
}

.vertical-line{
    display: flex;
}

.filter, .square, .sort-show, .sort-by{
    display: flex;
    gap: 16px;
}

.sorting-limit-text{
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pagination-orange-button button{
    background-color: #B88E2F;
    padding: 16px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
}

.pagination-button button{
    padding: 16px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

.pagination-next p{
    font-weight: 300;
    font-size: 20px;
    color: #000;
}

.services{
    display: flex;
    justify-content: center;
    gap: 36px;
    align-items: center;
}


.service{
    display: flex;
    gap: 8px;
}

.service img{
    width: 60px;
    height: 60px;
}

.service-type{
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #242424;
}

.service-description{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
    display: inline;
}


/* mobile styles  */
@media screen and (max-width: 600px) {
    .container {
        max-width: 600px;
    }

    .nav-links{
        display: none;
    }

    .nav-logo-links{
        display: none;
    }

    .hamburger{
        display: flex;
    }
    
    .banner {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .banner-img img {
        width: 100%; 
        height: auto; 
    }

    .banner-details {
        position: relative;
        top: auto; 
        right: auto; 
        transform: none; 
        background-color: #f5ebe2; 
        padding: 20px;
        box-shadow: none; 
        width: 100%;
        text-align: center; 
    }

    .banner-span {
        font-weight: 600;
        font-size: 14px; 
        letter-spacing: 0.1em;
        color: #333;
    }

    .banner-header {
        font-weight: 700;
        font-size: 32px; 
        line-height: 120%;
        color: #B88E2F;
    }

    .banner-para {
        font-weight: 500;
        font-size: 16px; 
        width: 330px;
        text-align: center;
        color: #333;
        margin-bottom: 30px; 
    }

    .banner-btn {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 14px; 
    }

    .browse-range-product, .beautiful-rooms{
        flex-direction: column;
    }

    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .share-setup-img-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .share-setup-img-mobile img{
        width: 200px;
        height: 200px;
    }

    .footer-content{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-copyright-text{
        display: none;
    }
    .footer-copyright-text-mobile{
        display: block;
        text-align: center;
        margin-top: 40px;
    }

    .share-setup-img-desktop{
        display: none;
    }
}


/* tablet styles  */
@media screen and (min-width: 601px) and (max-width: 992px){
    .container {
        min-width: 600px;
        max-width: 992px;
    }

    .nav-links{
        display: none;
    }

    .nav-logo-links{
        display: none;
    }

    .hamburger{
        display: flex;
    }

    .banner {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .banner-img img {
        width: 100%; 
        height: auto; 
    }

    .banner-details {
        position: relative;
        top: auto; 
        right: auto; 
        transform: none; 
        background-color: #f5ebe2; 
        padding: 20px;
        box-shadow: none; 
        width: 100%;
        text-align: center; 
    }

    .banner-span {
        font-weight: 600;
        font-size: 14px; 
        letter-spacing: 0.1em;
        color: #333;
    }

    .banner-header {
        font-weight: 700;
        font-size: 32px; 
        line-height: 120%;
        color: #B88E2F;
    }

    .banner-para {
        font-weight: 500;
        font-size: 16px; 
        width: 550px;
        text-align: center;
        color: #333;
        margin-bottom: 30px; 
    }

    .banner-btn {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 14px; 
    }

    .browse-range-product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }

    .beautiful-rooms{
        flex-direction: column;
        gap: 24px;
    }

    
    .share-setup-img-desktop{
        display: none;
    }

    .share-setup-img-mobile{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 24px;
    }

    .share-setup-img-mobile img{
        width: 300px;
        height: 200px;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-copyright-text{
        display: none;
    }
    .footer-copyright-text-mobile{
        display: block;
        text-align: center;
        margin-top: 40px;
    }
}