@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.nav-links a:link{
    text-decoration: none;
}

.nav-links a:hover{
    text-decoration: underline;
}

.nav-logo-links{
    display: flex;
    gap: 44px;
    color: black;
    font-weight: 500;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img{
    position: relative;
}

.banner-details{
    position: absolute;
    top: 60%;
    right: 20%;
    transform: translateY(-63%);
    background-color: #f5ebe2; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-span{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.19em;
    color: #333;
}

.banner-header{
    font-weight: 700;
    font-size: 52px;
    line-height: 125%;
    color: #B88E2F;
}

.banner-para{
    width: 546px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #333;
}

.banner-btn{
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #B88E2F;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.browse-range{
    margin-top: 30px;
}

.browse-range-heading{
    font-weight: 700;
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

.browse-range-para{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

.browse-range-product{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.browse-range-product-name{
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.our-products{
    margin-top: 100px;
}

.our-products-header{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #3a3a3a
}

.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 36px;
}

.product{
    position: relative;
    width: 285px;
    overflow: hidden;
}

.product img{
    display: block;
    width: 100%;
}


.discount-price {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-details{
    margin-top: 20px;
}

.product-name{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #3a3a3a;
}

.product-type{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}

.product-price{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3a3a3a;
}